.App {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: 70px;
  z-index: 9999;
  box-shadow: rgba(91, 81, 81, 0.4) 5px 5px 13px;
  margin: 40px 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 450px){
  .App{
    right: 0px;
  }
}

/* .App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.links{
  color: #2fa5a9
}
.react-chatbot-kit-chat-inner-container {
  height: 500px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: -10px;
  border-radius: 5px;
}
.app-chatbot-button {
  width: 72px;
  height: 72px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  position: fixed;
  bottom: 15px;
  z-index: 9999;
  right: 40px;
}

.app-chatbot-button-icon {
  width: 50px;
  height: 50px;
  fill: #fff;
}

.react-chatbot-kit-chat-container {
  position: relative;
  width: 300px;
}

.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: scroll;
  height: 500px;
}
.react-chatbot-kit-chat-bot-message {
  background-color: #2898ec;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 250.5px;
  margin-left: auto;
  text-align: left;
}


.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
  text-align: center;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #f3f7fc;
  color: #413c98
}
.option-button {
  background-color: #f3f7fc;
  color: #413c98;
  border-color:#2fa5a9
}
.react-chatbot-kit-chat-bot-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #f3f7fc;
  position: absolute;
  left: -7px;
  top: 13px;
}
.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 12.5px;
  background-color: #f3f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-user-chat-message {
  background-color: #2fa5a9;
  color: #fff
}
.react-chatbot-kit-user-chat-message-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #2fa5a9;
  position: absolute;
  right: -7px;
  top: 13px;
}

.react-chatbot-kit-user-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 12.5px;
  background-color: #2fa5a9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #2fa5a9;
  width: 100px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-input {
  width: 100%;
  padding: 12.5px;
  border: none;
  font-size: 0.85rem;
  border-top: 1px solid #f3f7fc;
  border-bottom-left-radius: 5px;
}
 